@using Newtonsoft.Json.Linq
@using System.Reflection.Metadata
@model Newtonsoft.Json.Linq.JObject
@{
    ViewData["Title"] = "Weather";
    JObject weather = Model;
    string temp = "unknown";
    int weatherCode = 0;
    if (weather["main"] != null)
    {
        temp = ((int)weather["main"]["temp"]-273).ToString();
        weatherCode = (int)weather["weather"][0]["id"];
    }

}
<div class = "pt-2 row text-center">
    <a href="@Url.Action("Index", "Home")" class="col-4 display-6 main-link">Light Control</a>
    <h2 class="col-4 display-4">Weather</h2>
    <a class="col-4 display-6 main-link">News</a>
</div>
<div class = "outer mt-5" style="height: 80vh;">
    <div class="text-center">
        <h1>Current Weather in Astana: </h1>
        <h1 class="weather-text">@temp °C</h1>
        @{
            if (weatherCode == 800)
            {
                <i class="bi bi-brightness-high-fill big-sun fa-spin"></i>
            }
            else if (weatherCode > 800 && weatherCode < 900)
            {
                <i class="bi bi-cloud-sun-fill big-icon"></i>
            }
            else if (weatherCode >= 600 && weatherCode < 700)
            {
                <i class="bi bi-snow2 big-icon"></i>
                if (weatherCode == 602)
                {
                    <i class="bi bi-snow2 big-icon"></i><i class="bi bi-snow2 big-icon"></i>
                }
            }
            else if (weatherCode >= 500 && weatherCode < 600)
            {
                if (weatherCode >= 502)
                {
                    <i class="bi bi-cloud-rain-heavy-fill big-icon"></i>
                }
                else
                {
                    <i class="bi bi-cloud-rain-fill big-icon"></i>
                }
               
            }
            else if (weatherCode >= 300 && weatherCode < 400)
            {
                <i class="bi bi-cloud-drizzle-fill big-icon"></i>
            }
            else if (weatherCode >= 200 && weatherCode < 300)
            {
                <i class="bi bi-cloud-lightning-rain-fill big-icon"></i>
            }
            else
            {
                <i class="bi bi-cloud-fill big-icon"></i>
            }
        }
        <div class = "mt-5">
            <i class="bi bi-flower3 elementToFadeInAndOut" id="melflower" style="font-size: 3rem; color: hotpink; display: none;"></i>
            </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function (){
         $.ajax({
            type: "GET",
            url: "/Weather/GetFlowerWeather/",
            success: function (data) {
                
                console.log("Weather in Baguio: " + data);
                var obj = JSON.parse(JSON.stringify(data));
                console.log(obj);
                if (obj.success){
                console.log("got it!" + obj.temp);
                if (obj.temp <= @temp){
                    $("#melflower").show();
                }   
                } 
            }
         });
        });
</script>