@using Newtonsoft.Json.Linq
@using System.Reflection.Metadata
@{
    ViewData["Title"] = "Interface";
}
<div class = "pt-2 row text-center">
    <a href="@Url.Action("Index", "Weather")" class="col-4 display-6 main-link">Weather</a>
    <h2 class="col-4 display-4">News</h2>
    <a href="@Url.Action("Index", "Home")" class="col-4 display-6 main-link">Light Control</a>
</div>
<div class="mt-5 align-items-center" style="height: 80vh;">

</div>

<script type="text/javascript">

</script>