html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.custom-button{
    border-radius: 20px;
    border: 2px solid #a7acb6;
    padding-top: -5rem;
    height: 15rem;
}
.custom-button-icon{
    padding-top:-5rem;
    line-height: 3rem;
}

.outer{
    display:flex;
    justify-content: center;
    align-items: center;
}

.btndiv{
    padding: 1rem;
}
.weather-text{
    font-size: 5rem;
    /* futuristic, large font */
    font-family: 'Orbitron', sans-serif;
}
.main-link{
    text-decoration: none;
    color: black;
    height: 1rem;
}
.big-sun {
    display: inline-block;
    font-size: 9rem;
    color: #ffab00;
    transform-origin: center;
    height: 9rem;
    vertical-align: text-top;
}
.big-icon{
    height: 9rem;
    font-size: 9rem;
}
@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.elementToFadeInAndOut {
    opacity: 1;
    animation: fade 2s linear infinite;
}


@keyframes fade {
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
}